<dataAccess>

  <defaultParameters>
    <add key="realm" value="/value/test" />
    <add key="credentialKey" value="TestCredentialKey" />
  </defaultParameters>

  <dataAccessComponents>

    <dataAccessObject name="ConsultarProdutoElegivelClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarProdutoElegivelCliente.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarProdutoHabilitadoClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarProdutoHabilitadoCliente.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarProdutoNaoElegivelClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarProdutoNaoElegivelCliente.xml" />
      </parameters>
    </dataAccessObject>

    <dataAccessObject name="ConsultarServicoHabilitadoClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\ConsultarServicoHabilitadoClienteMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarServicoElegivelClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\ConsultarServicoElegivelClienteMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarServicoNaoElegivelClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\ConsultarServicoNaoElegivelClienteMock.xml" />
      </parameters>
    </dataAccessObject>

    <dataAccessObject name="ExistsProductOpenDemandDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockExistsProductOpenDemand.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ExistsServiceOpenDemandDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockExistsServiceOpenDemand.xml" />
      </parameters>
    </dataAccessObject>

    <dataAccessObject name="ConsultarInformacoesPatAleloDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\ConsultarInformacoesPatAleloMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="SolicitarNegociacaoTaxaDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockSolicitarNegociacaoTaxaUnitTest.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarDetalheProdutoElegivelClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarDetalheProdutoNaoHabilitadoCliente.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarDetalheProdutoHabilitadoClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarDetalheProdutoHabilitadoDesabilitarProduto.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarDetalheProdutoNaoElegivelClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarDetalheProdutoNaoElegivelCliente.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarPrazoPadraoDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarPrazoPadrao.xml" />
      </parameters>
    </dataAccessObject>

    <dataAccessObject name="GetRequestReasonDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetRequestReason.xml" />
      </parameters>
    </dataAccessObject>

    <dataAccessObject name="SolicitarExclusaoProdutoDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\SolicitarExclusaoProdutoMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetProductRequestsHistoryDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestsHistory.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetServiceRequestsHistoryDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="simple" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetServiceRequestsHistory.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetProductRequestTypesDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="simple" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestTypes.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetEnabledProductRequestTypesDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="simple" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestTypes.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetEligibleProductRequestTypesDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="simple" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestTypes.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetEnabledServiceRequestTypesDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="simple" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestTypes.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetNonEnabledServiceRequestTypesDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="simple" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestTypes.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetNonEligibleProductRequestTypesDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="simple" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestTypes.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="GetNonElegibleServiceRequestTypesDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="simple" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestTypes.xml" />
      </parameters>
    </dataAccessObject>

    <!--
  <dataAccessObject name="GetDiscountRateRestrictionDAO">
    <parameters>
      <add key="useMockData" value="true" />
      <add key="mockType" value="parameterized" />
      <add key="mockSourceData" value="C:\Source\Mocks\MockGetProductRequestTypes.xml" />
    </parameters>
  </dataAccessComponents>
  -->

    <dataAccessObject name="ManterPrazoFlexivelDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockManterPrazoFlexivel.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarDetalheProdutoMultivanContratadoClienteDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarDetalheProdutoMultivanContratadoCliente.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="HabilitarDesabilitarVendaDigitadaDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockDesabilitarVendaDigitadaUnitTest.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ValidarPermissaoVendaDigitadaDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockValidarPermissaoVendaDigitada.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="SolicitaAnaliseAlvaraDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockSolicitaAnaliseAlvara.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarProdutosPrazoFlexivelDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockConsultarProdutosPrazoFlexivel.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarPrazosTaxasPrazoFlexivelDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockUnitTestConsultarPrazosTaxasPrazoFlexivel.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="DesabilitarServicoDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockDesabilitarServicoUnitTest.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="HabilitarServicoDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockHabilitarServicoUnitTest.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="EnableServiceDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\HabilitarServicoMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="DisableServiceDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\HabilitarServicoMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="RateChangeNegotiationRequestDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\HabilitarServicoMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="EnableDisableTypedSaleDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\HabilitarServicoMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="DesabilitarProdutoDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockDesabilitarProdutoUnitTest.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="DisableProductDAO">
      <parameters>
        <add key="useMockData" value="false" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\MockDisableProduct.xml" />
      </parameters>
    </dataAccessObject>


    <dataAccessObject name="ConsultarSLAPadraoDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\ConsultarSLAPadraoMock.xml" />
      </parameters>
    </dataAccessObject>
    <dataAccessObject name="ConsultarElegibilidadeCriacaoDemandaDAO">
      <parameters>
        <add key="useMockData" value="true" />
        <add key="mockType" value="parameterized" />
        <add key="mockSourceData" value="C:\Source\Mocks\ConsultarElegibilidadeCriacaoDemandaMock.xml" />
      </parameters>
    </dataAccessObject>


  </dataAccessComponents>

</dataAccess>
