<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
    <bindings>
        <wsHttpBinding>
            <binding name="wsHttpEndpointBinding_IProdutosService" />
        </wsHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:52893/ProdutosService.svc"
            binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding_IProdutosService"
            contract="ProdutosService.IProdutosService" name="wsHttpEndpointBinding_IProdutosService">
            <identity>
                <userPrincipalName value="administrator@crm.avanade.local" />
            </identity>
        </endpoint>
    </client>
  </system.serviceModel>
</configuration>