<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="cielo.sirius.configuration">
      <section name="dataAccess" type="Cielo.Sirius.Foundation.Configuration.DataAccessConfiguration, Cielo.Sirius.Foundation" />
      <section name="domainDecodingTables" type="Cielo.Sirius.Foundation.Configuration.DomainDecodingTablesConfiguration, Cielo.Sirius.Foundation" />
      <section name="applicationCatalog" type="Cielo.Sirius.Foundation.Configuration.ApplicationCatalogConfiguration, Cielo.Sirius.Foundation" />
    </sectionGroup>
  </configSections>

  <cielo.sirius.configuration>

    <dataAccess configSource="config\dataAccess.config" />
    <domainDecodingTables configSource="config\domainDecodingTables.config" />
    <applicationCatalog configSource="config\applicationCatalog.config" />

    
  </cielo.sirius.configuration>

  <nlog autoReload="true">
    <variable name="logDirectory" value="C:\Source\logs"/>
    <variable name="logFileName" value="Avanade.SmartApps.UnitTests.${shortdate}.log"/>
    <targets>
      <target name="file"
              type="File"
              layout="${longdate} | ${machinename} | ${level} | ${logger} | ${message} | ${mdc:item=correlationId}"
              filename="${logDirectory}\${logFileName}" />
    </targets>
    <rules>
      <!-- Off, Fatal, Error, Warn, Info, Debug, Trace -->
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>

</configuration>