<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cielo.Sirius.Integration.OutboundService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="cielo.sirius.configuration">
      <section name="dataAccess" type="Cielo.Sirius.Foundation.Configuration.DataAccessConfiguration, Cielo.Sirius.Foundation" />
      <section name="domainDecodingTables" type="Cielo.Sirius.Foundation.Configuration.DomainDecodingTablesConfiguration, Cielo.Sirius.Foundation" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="CRMUserCredentialKey" value="CRMUserCredentialKey"/>
    <add key="OSBCredKey" value="OSBCredentialKey"/>
    <add key="CRMOrganization" value="CieloConfig"/>
    <add key="CRMUrl" value="http://localhost:5555/"/>
    <add key="Domain" value="CRM"/>
  </appSettings>

  <cielo.sirius.configuration>
    <dataAccess configSource="Config\DataAccess.config" />
    <domainDecodingTables configSource="Config\DomainDecodingTables.config" />
  </cielo.sirius.configuration>

  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Source\logs\Web_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>


  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpEndpointBinding">
          <security mode="Transport" >
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="CieloOSBProdutoSOAPBinding" />
        <binding name="ServicoSOAP" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Cielo.Sirius.Integration.OutboundService.ProdutosService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="" bindingName="wsHttpEndpointBinding"
          contract="Cielo.Sirius.Integration.OutboundService.IProdutosService" />
      </service>
    </services>
    <client>
      <endpoint address="http://osb-cielo.cloudapp.net/cadastro/produto/produto/v3"
          binding="basicHttpBinding" bindingConfiguration="CieloOSBProdutoSOAPBinding"
          contract="ProdutoService.Produto1" name="ProdutoSOAP" />
      <endpoint address="http://osb-cielo.cloudapp.net/cadastro/servico/servico/v1"
          binding="basicHttpBinding" bindingConfiguration="ServicoSOAP"
          contract="ServicoService.Servico1" name="ServicoSOAP" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DebugBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="https" binding="wsHttpBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <nlog autoReload="true">
    <variable name="logDirectory" value="C:\Source\logs"/>
    <variable name="logFileName" value="OSBWCFServiceLog.${shortdate}.log"/>
    <targets>
      <target name="file"
              type="File"
              layout="${longdate} | ${machinename} | ${level} | ${logger} | ${message} | ${mdc:item=correlationId}"
              filename="${logDirectory}\${logFileName}" />
      <target name="defaultErrorStorage"
              type="File"
              layout="${longdate} | ${machinename} | ${level} | ${logger} | ${message} | ${mdc:item=correlationId}"
              filename="${logDirectory}\${logFileName}" />
    </targets>
    <rules>
      <!-- Off, Fatal, Error, Warn, Info, Debug, Trace -->
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>

  <applicationSettings>
    <Cielo.Sirius.Integration.OutboundService.Properties.Settings>
      <setting name="ServiceURL_Produto" serializeAs="String">
        <value>http://osb-cielo.cloudapp.net/Cadastro/Produto/Produto/v3</value>
      </setting>
      <setting name="ServiceURL_Servico" serializeAs="String">
        <value>http://osb-cielo.cloudapp.net/Cadastro/Servico/Servico/v1</value>
      </setting>
      <setting name="ServiceURL_Cliente" serializeAs="String">
        <value>http://osb-cielo.cloudapp.net/Cadastro/Cliente/Cliente/v3</value>
      </setting>
      <setting name="ServiceURL_Faturamento" serializeAs="String">
        <value>http://osb-cielo.cloudapp.net/Cadastro/Faturamento/Faturamento/v1</value>
      </setting>
      <setting name="ServiceURL_Equipamento" serializeAs="String">
        <value>http://osb-cielo.cloudapp.net/Operacao/Logistica/Equipamento/v2</value>
      </setting>
      <setting name="ServiceURL_Material" serializeAs="String">
        <value>http://osb-cielo.cloudapp.net/Cadastro/Solucaocaptura/Material/v2</value>
      </setting>
    </Cielo.Sirius.Integration.OutboundService.Properties.Settings>
  </applicationSettings>
</configuration>